// 宣告變數

// 字體顏色
$color_brown : #C8B39A;
$color_white : white;
$color_green : #186574;
$color_lightgray:#929292;
$color_gray :#4F4E50;
$color_yellow :#F6D386;
$color_black :black;

// 背景顏色
$bg_snow:#F2F1EF;
$bg_yellow :#F6D386;
$bg_lightgray :#F2F1EF;
$bg_gray :#D7D4CE;
$bg_darkgray :#4F4E50;
$bg_black :#1A1A1A;

// 字體大小
$font_big:75pt;
$font_title:40pt;
$font_subtitle:28pt;
$font_p:15px;


@mixin text_setting() {
    color: #4F4E50;
    letter-spacing:4px;
    line-height: 30px;   
}

@mixin title_setting (){
    text-align: center; 
    font-weight: bold; 
    letter-spacing: 5px;
}

@mixin hr() {
    height: 2px;
    margin: 0;
    margin-top: 5px;
}

